<h2><%= l(:label_search) %></h2>

<%= form_tag({}, :method => :get, :id => 'search-form') do %>
<div class="box">
<%= label_tag "search-input", l(:description_search), :class => "hidden-for-sighted" %>
<p><%= text_field_tag 'q', @question, :size => 60, :id => 'search-input',
                      :data => {
                          :auto_complete => true
                      } %>
<%= select_tag 'scope', 
    options_for_select([
      [l(:label_all_projects), 'all'],
      [l(:label_my_projects), 'my_projects'],
      [l(:label_bookmarks), 'bookmarks']
    ], params[:scope] || 'all') %>
<%= hidden_field_tag 'all_words', '', :id => nil %>
<label><%= check_box_tag 'all_words', 1, @all_words %> <%= l(:label_all_words) %></label>
<%= hidden_field_tag 'titles_only', '', :id => nil %>
<label><%= check_box_tag 'titles_only', 1, @titles_only %> <%= l(:label_search_titles_only) %></label>
</p>

<!-- Semantic Search Options -->
<fieldset class="box">
  <legend><%= l(:label_semantic_search_options) %></legend>
  <p>
    <label><%= check_box_tag 'semantic_search', 1, @semantic_search %> <%= l(:label_use_semantic_search) %></label>
  </p>
  <p>
    <label><%= l(:label_search_algorithm) %></label>
    <%= select_tag 'search_algorithm', 
        options_for_select([
          [l(:label_semantic_search), 'semantic'],
          [l(:label_hybrid_search), 'hybrid'],
          [l(:label_lexical_search), 'lexical']
        ], @search_algorithm) %>
  </p>
  <p>
    <label><%= l(:label_similarity_threshold) %></label>
    <%= select_tag 'similarity_threshold',
        options_for_select([
          [l(:label_high_similarity), '0.8'],
          [l(:label_medium_similarity), '0.6'],
          [l(:label_low_similarity), '0.4']
        ], @similarity_threshold) %>
  </p>
</fieldset>

<fieldset class="box">
  <legend><%= toggle_checkboxes_link('p#search-types input') %></legend>
  <p id="search-types">
  <% @object_types.each do |t| %>
  <label><%= check_box_tag t, 1, @scope.include?(t) %> <%= link_to l("label_#{t}"), "#" %></label>
  <% end %>
  </p>
</fieldset>

<fieldset class="collapsible collapsed">
  <legend onclick="toggleFieldset(this);" class="icon icon-collapsed">
    <%= sprite_icon("angle-right", rtl: true) %>
    <%= l(:label_options) %>
  </legend>
  <div id="options-content" style="display:none;">
    <p><label><%= check_box_tag 'open_issues', 1, @open_issues %> <%= l(:label_search_open_issues_only) %></label></p>
    <p>
      <label><%= radio_button_tag 'attachments', '0', @search_attachments == '0' %> <%= l(:label_search_attachments_no) %></label>
      <label><%= radio_button_tag 'attachments', '1', @search_attachments == '1' %> <%= l(:label_search_attachments_yes) %></label>
      <label><%= radio_button_tag 'attachments', 'only', @search_attachments == 'only' %> <%= l(:label_search_attachments_only) %></label>
    </p>
    <%= call_hook(:view_search_index_options_content_bottom) %>
  </div>
</fieldset>
<%= hidden_field_tag 'options', '', :id => 'show-options' %>

</div>
<p><%= submit_tag l(:label_search) %></p>
<% end %>

<% if @results %>
    <div id="search-results-counts">
      <% if @result_count_by_type && @scope.size > 1 %>
        <p><%= l(:label_results_by_type) %>: 
          <% @result_count_by_type.each do |type, count| %>
            <%= "#{l("label_#{type}")}: #{count}" %>
          <% end %>
        </p>
      <% end %>
    </div>
    
    <% if @semantic_search %>
      <div class="semantic-search-info">
        <p class="icon icon-search">
          <strong><%= l(:label_semantic_search_results) %></strong>
          <%= l(:label_algorithm) %>: <%= l("label_#{@search_algorithm}_search") %> | 
          <%= l(:label_threshold) %>: <%= @similarity_threshold %>
        </p>
      </div>
    <% end %>
    
    <h3><%= l(:label_result_plural) %> (<%= @result_count %>)</h3>
    <% if @result_count_by_type && @result_count_by_type['issues'] && @result_count_by_type['issues'].to_i > 0 && @search_attachments == '0' %>
      <p class="buttons">
        <%= link_to sprite_icon('list', l(:button_view_all_issues)), issues_path, :class => 'icon icon-list' %>
      </p>
    <% end %>
    <dl id="search-results">
      <% @results.each do |e| %>
        <% next unless e.respond_to?(:event_type) && e.respond_to?(:event_title) %>
        <dt class="<%= e.event_type %> icon icon-<%= e.event_type %>">
          <%= sprite_icon(e.event_type) %>
          <%= content_tag('span', e.project, :class => 'project') unless @project == e.project %>
          <%= link_to(highlight_tokens(e.event_title.to_s.truncate(255), @tokens || []), e.event_url) %>
          <% if @semantic_search && e.respond_to?(:score) %>
            <span class="semantic-score">(<%= sprintf("%.2f", e.score) %>)</span>
          <% end %>
        </dt>
        <dd>
          <span class="description">
            <%= highlight_tokens(e.event_description.to_s, @tokens || []) %>
            <% if @semantic_search && e.respond_to?(:highlights) && e.highlights.present? %>
              <div class="semantic-highlights">
                <% e.highlights.each do |field, highlights| %>
                  <% highlights.each do |highlight| %>
                    <small class="highlight"><%= highlight.html_safe %></small>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </span>
          <span class="author"><%= format_time(e.event_datetime) %></span>
        </dd>
      <% end %>
    </dl>
<% end %>

<% if @result_pages %>
<span class="pagination"><%= pagination_links_full @result_pages, @result_count, :per_page_links => false %></span>
<% end %>

<% html_title(l(:label_search)) -%>

<%= javascript_tag do %>
$("#search-types a").click(function(e){
  e.preventDefault();
  $("#search-types input[type=checkbox]").prop('checked', false);
  $(this).siblings("input[type=checkbox]").prop('checked', true);
  if ($("#search-input").val() != "") {
    $("#search-form").submit();
  }
});

$("#search-form").submit(function(){
  $("#show-options").val($("#options-content").is(":visible") ? '1' : '0');
});

// Semantic search toggle behavior
$("#semantic_search").change(function() {
  if ($(this).is(':checked')) {
    $("#search_algorithm, #similarity_threshold").prop('disabled', false);
  } else {
    $("#search_algorithm, #similarity_threshold").prop('disabled', true);
  }
});

// Initialize semantic search controls
$(document).ready(function() {
  if ($("#semantic_search").is(':checked')) {
    $("#search_algorithm, #similarity_threshold").prop('disabled', false);
  } else {
    $("#search_algorithm, #similarity_threshold").prop('disabled', true);
  }
});

<% if params[:options] == '1' %>
toggleFieldset($("#options-content"));
<% end %>
<% end %>

<style>
.semantic-search-info {
  background-color: #f0f8ff;
  border: 1px solid #b0d4f1;
  border-radius: 3px;
  padding: 8px;
  margin: 10px 0;
}

.semantic-score {
  color: #666;
  font-size: 0.9em;
  font-weight: normal;
}

.semantic-highlights {
  margin-top: 5px;
}

.semantic-highlights .highlight {
  background-color: #fff3cd;
  padding: 2px 4px;
  border-radius: 2px;
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 2px;
}
</style>